@media screen and (min-width: 718px){

body{
    	background-image: url(".lineBackground.jpg");
	background-repeat: repeat;
}

.header-container {
 	border-bottom: 20px solid rgba(244, 186, 112, 1.0);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.main-container { 
	margin: 20px auto 20px auto;
	width: 50%;
}


.main {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}
.footer-container,
.content-box,
.main {
	border-top: 20px solid rgba(244, 186, 112, 1.0);
}

.header-container,
.footer-container,
.content-box,
.main {
        background: rgba(133, 193, 245, 1.0);
}

.footer-container {
        -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);


}
.footer-container footer {
	color: hsla(0, 0%, 100%, 1.0);
    	padding: 20px 0;
}
.wrapper {
    	width: 90%;
    	margin: 0 5%;
}

.top-box {
   	margin: 20px 0 0 0;
}
.top-box, .signin, 
.signup,.signup-box {
	text-align: center;
    	margin-bottom: 20px;
}

.signin {
        float: right;
}
/**All input for the users.**/
.user-input {
    padding: 5px;
    font-size: 1.1em;
    color: hsla(0, 0%, 0%, 1.0);
    background-color: hsla(0, 0%, 93%, 1.0);
    border: solid 4px hsla(0, 0%, 93%, 1.0);
    margin: 5px;
    width: 220px;
}

.user-input:focus {
    border: solid 4px #f2c600; 
}

/**PREGENERATED BUTTON using  CSSButtonGenerator.com **/
.button {
	-moz-box-shadow:inset 0px 0px 0px 0px #fff09e;
	-webkit-box-shadow:inset 0px 0px 0px 0px #fff09e;
	box-shadow:inset 0px 0px 0px 0px #fff09e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2c600), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f2c600 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2c600', endColorstr='#f2ab1e');
	background-color:#f2c600;
	text-indent:0;
	border:1px solid #661100;
	display:inline-block;
	color:#050400;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:30px;
	line-height:30px;
	width:105px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f2c600) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f2c600 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f2c600');
	background-color:#f2ab1e;
	cursor: pointer;
}
.button:active {
	position:relative;
	top:1px;
}



/**NOT IMPORTANT**/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

}
